
.font-header{
  margin-top: 50px;

}
.image-for-poster{
  display:flex;
  justify-content:center;
  align-items: center;
}
.default-poster{
  margin-top:20px;
  width: 50%;
 
}
.main-selection-container{
  background-color: rgb(255,190,64);
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  position:relative;
  min-height: 100vh;
}

.selection-results-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.result-output-section{
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items:center;
}
.result-output-section1{
  
  padding-bottom: 20px;
  width: 200px;
  height: 100px;
  text-align: center;

}
.result-output-section2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

}
.result-output-overview{
  width: 650px;
  height:130px;
  text-align:center;
}
.result-output-keywords{
  
  width: 650px;
  height:100px;
  text-align:center;
}
.result-output-language{
  width: 650px;
  height:50px;
  text-align:center;
}
.quiz-again-button, .go-to-acct-button{
  padding-left:60px;
  padding-right: 60px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgb(92, 92, 154);
  color:black;
  font-size:15px;
  font-weight: bold;
  border-radius: 30px;
  border:none;
  transition-property: all 0.15s;
  margin-bottom: 58px;
  margin-top: 50px;
}
.quiz-again-button:hover, .go-to-acct-button:hover{
  background-color: rgb(82, 82, 136);
  cursor:pointer;
}
.quiz-again-button:active, .go-to-acct-button:active{

  color:rgb(21, 21, 21);
  opacity: 0.9;
  cursor:pointer;
}
.selection-buttons{
  display: inline-grid;
  grid-template-columns: 290px 290px;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top:9px;
}

